<div class="container mt-4">
  <h1 class="text-center mb-4"><%= @item.name %></h1>

  <div class="row">
    <div class="col-md-8">
      <div class="mb-3 p-3 bg-white rounded shadow-sm">
        <p><strong>アイテム名:</strong> <%= @item.name %></p>
      </div>

      <div class="mb-3 p-3 bg-white rounded shadow-sm">
        <p><strong>アイテム説明:</strong> <%= @item.introduction %></p>
      </div>
      <div class="mb-3 p-3 bg-white rounded shadow-sm">
        <p><strong>進捗状況:</strong>
          <% if @item.prepared_amount >= @item.amount || (@item.item_requests.find_by(user_id: current_user.id)&.status == 'approved') %>
            <span class="fw-bold"><%= "#{@item.amount}" %> 個 準備完了</span>
          <% else %>
            <span class="fw-bold"><%= "#{@item.prepared_amount}/#{@item.amount}" %> 個 準備中</span>
          <% end %>
        </p>
      </div>
      <div class="mb-3 p-3 bg-white rounded shadow-sm">
        <p><strong>関連イベント:</strong> 
          <%= @item.event.name %>（開催日: <%= @item.event.start_date.strftime('%Y-%m-%d') if @item.event.start_date %>）</p>
      </div>
    </div>

    <div class="col-md-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, class: 'img-fluid rounded shadow', alt: @item.name, style: 'max-width: 100%; height: auto;' %>
      <% else %>
        <div class="text-center">
          <%= image_tag 'sample.png', class: 'img-fluid rounded shadow', alt: 'サンプル画像', style: 'max-width: 100%; height: auto;' %>
          <p class="mt-2 text-muted"><strong>画像が登録されていません。</strong></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to '戻る', admin_items_path, class: 'btn btn-secondary' %>
  </div>
</div>
