<h1 class="mb-4 text-center">新規イベント作成</h1>

<div class="container d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <%= form_with(model: @event, url: admin_events_path, method: :post) do |form| %>
      <!-- イベント名 -->
      <div class="form-group mb-3">
        <%= form.label :name, 'イベント名' %>
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>

      <!-- イベント紹介 -->
      <div class="form-group mb-3">
        <%= form.label :introduction, 'イベント紹介' %>
        <%= form.text_area :introduction, class: 'form-control', rows: 4, required: true %>
      </div>

      <!-- 開始日と時間 -->
      <div class="form-group mb-3">
        <%= form.label :start_date, '開始日時' %>
        <%= form.datetime_local_field :start_date, class: 'form-control', required: true, id: 'start_date' %>
      </div>

      <!-- 終了日と時間 -->
      <div class="form-group mb-3">
        <%= form.label :end_date, '終了日時' %>
        <%= form.datetime_local_field :end_date, class: 'form-control', required: true, id: 'end_date' %>
      </div>

      <!-- 場所 -->
      <div class="form-group mb-3">
        <%= form.label :location, '場所' %>
        <%= form.text_field :location, class: 'form-control', required: true %>
      </div>

      <!-- グループ追加 -->
      <div class="form-group mb-3">
        <%= form.label :group_id, 'グループ' %>
        <%= form.collection_select :group_id, @groups, :id, :name, { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= form.submit 'イベントを作成', class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const startDateInput = document.getElementById('start_date');
    const endDateInput = document.getElementById('end_date');

    startDateInput.addEventListener('change', function() {
      const startDate = startDateInput.value;
      endDateInput.setAttribute('min', startDate); // 終了日時は開始日時以上に設定
    });
  });
</script>
