<h1>グループ一覧</h1>

<%= link_to '新しいグループを作成', new_admin_group_path, class: 'btn btn-success' %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>説明</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td>
          <%= link_to '編集', edit_admin_group_path(group), class: 'btn btn-warning' %>
          <%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
