<h1 class="text-center mb-5"><%= @user.name %>さんのプロフィール</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      
      <div class="card mb-4">
        <div class="card-body">
          <p><strong>メールアドレス:</strong> <%= @user.email %></p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">招待されているイベント</h3>
              <% if @events.present? %>
                <ul>
                  <% @events.each do |event| %>
                    <li><%= link_to event.name, event_path(event), class: 'text-decoration-none' %> - 開催日: <%= event.start_date.strftime('%Y-%m-%d') if event.start_date %></li>
                  <% end %>
                </ul>

                <div class="mt-3">
                  <%= paginate @events %>
                </div>
              <% else %>
                <p>参加しているイベントはありません。</p>
              <% end %>
            </div>
          </div>
        </div>

        <!-- あなたの投稿履歴 -->
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">あなたの投稿履歴</h3>
              <% if @posts.present? %>
                <ul>
                  <% @posts.each do |post| %>
                    <li><%= link_to post.title, event_post_path(post.event, post), class: 'text-decoration-none' %></li>
                  <% end %>
                </ul>

                <div class="mt-3">
                  <%= paginate @posts %>
                </div>
              <% else %>
                <p>まだ投稿がありません。</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless current_user.email == 'guest@example.com' %>
        <div class="text-center mt-4">
          <%= link_to 'プロフィール編集', mypage_edit_path(@user), class: 'btn btn-primary btn-lg mb-3' %>
        </div>
      <% end %>

      <!-- アカウント削除ボタン -->
      <% unless current_user.email == 'guest@example.com' %>
        <div class="text-center mt-4">
          <%= form_for(@user, url: user_registration_path, html: { method: :delete }) do |f| %>
            <div class="form-group">
              <%= f.submit 'アカウントを削除する', class: 'btn btn-danger btn-lg', data: { confirm: '本当にアカウントを削除しますか？ この操作は取り消せません。' } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center mt-5">
  <%= link_to 'イベント一覧ページに戻る', homes_top_path, class: 'btn btn-outline-primary btn-lg' %>
</div>
