<h2>ログイン</h2>
<%= button_to 'ゲストログイン', guest_login_path, method: :post, class: 'btn btn-secondary' %>

<%# エラーメッセージが存在する場合に表示 %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <%# メールアドレスのエラーメッセージが存在する場合に表示 %>
    <% if resource.errors[:email].any? %>
      <div class="alert alert-danger">
        <ul>
          <% resource.errors[:email].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード %>
    <%= f.password_field :password, class: "form-control" %>

    <%# パスワードのエラーメッセージが存在する場合に表示 %>
    <% if resource.errors[:password].any? %>
      <div class="alert alert-danger">
        <ul>
          <% resource.errors[:password].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

