<div class="container my-4 event-items">
  <h1 class="text-center mb-4"><%= @event.name %> のアイテム一覧</h1>

  <div class="mb-3 text-center">
    <%= form_with url: event_items_path(@event), method: :get, class: 'd-flex justify-content-center' do %>
      <%= text_field_tag :search, params[:search], placeholder: "アイテム名で検索", class: 'form-control w-50 me-2' %>
      <%= select_tag :sort_by, options_for_select([['新着順', 'newest'], ['準備完了', 'complete'], ['準備中', 'incomplete']], selected: params[:sort_by]), class: 'form-control w-50 me-2' %>
      <%= submit_tag '検索・並べ替え', class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="table-responsive w-75 mb-4 bg-white border p-3">
      <table class="table table-bordered table-striped table-hover text-center">
        <thead class="bg-dark text-white">
          <tr>
            <th>アイテム名</th>
            <th>進捗状況</th>
            <th>詳細</th>
            <th>アイテム準備申請</th>
          </tr>
        </thead>
        <tbody>
          <% if @items.any? %>
            <% @items.each do |item| %>
              <tr class="<%= item.prepared_amount >= item.amount || (item.item_requests.find_by(user_id: current_user.id)&.status == 'approved') ? 'bg-success text-dark' : 'bg-light text-dark' %>">
                
                <td><%= item.name %></td>

                <td class="item-status-<%= item.id %>">
                  <% if item.prepared_amount >= item.amount || (item.item_requests.find_by(user_id: current_user.id)&.status == 'approved') %>
                    <span class="fw-bold"><%= "#{item.amount}" %> 個 準備完了</span>
                  <% else %>
                    <span class="fw-bold"><%= "#{item.prepared_amount}/#{item.amount}" %> 個 準備中</span>
                  <% end %>
                </td>

                <td>
                  <%= link_to '詳細', event_item_path(@event, item), class: 'btn btn-info btn-sm' %>
                </td>

                <td id="request-button-container-<%= item.id %>">
                  <%= render 'items/request_button', item: item %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">検索結果が見つかりませんでした。</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= paginate @items %>
  </div>

  <div class="text-center mt-4">
    <%= link_to '戻る', event_path(@event), class: 'btn btn-secondary' %>
  </div>
</div>
