<div class="container mt-4">
  <h2 class="text-center mb-4 display-4">ユーザー管理ページ</h2>

  <div class="text-center mb-3">
    <%= link_to '管理者トップページに戻る', admin_root_path, class: 'btn btn-secondary' %>
  </div>

  <%= form_with(url: admin_users_path, method: :get, local: true, class: 'row justify-content-center g-3 mb-4') do %>
    <div class="col-auto">
      <%= select_tag :role, options_for_select([["役職で検索", ""]]+User.roles.keys.map { |role| [role_to_japanese(role), role] }, params[:role]), class: "form-select" %>
    </div>
    <div class="col-auto">
      <%= submit_tag "検索", class: "btn btn-secondary" %>
    </div>
  <% end %>

  <!-- ユーザー一覧テーブル -->
  <div class="d-flex justify-content-center">
    <div class="table-responsive w-75 mb-4 bg-white border p-3">
      <table class="table table-bordered table-striped table-hover text-center">
        <thead class="bg-dark text-white">
          <tr>
            <th class="col-3">名前</th>
            <th class="col-4">メールアドレス</th>
            <th class="col-3">役職</th>
            <th class="col-2">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= role_to_japanese(user.role) %></td>
              <td>
                <div class="btn-group" role="group">
                  <!-- 役職更新フォーム -->
                  <%= form_with model: user, url: update_role_admin_user_path(user), method: :patch, local: true do |form| %>
                    <div class="d-flex align-items-center justify-content-center">
                      <%= form.select :role, options_for_select(User.roles.keys.map { |role| [role_to_japanese(role), role] }, user.role), class: 'form-select form-select-sm me-2' %>
                      <%= form.submit "更新", class: "btn btn-sm btn-primary" %>
                    </div>
                  <% end %>
                </div>
                <div class="btn-group" role="group">
                  <%= link_to '詳細', admin_user_path(user), class: "btn btn-sm btn-info" %>
                  <%= link_to '削除', admin_user_path(user), method: :delete, 
                        data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= paginate @users, class: 'pagination' %>
  </div>
</div>
