<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>イベント管理アプリ | 管理者ページ</title>
  <%= csrf_meta_tags %>  
  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- 外部CSSを読み込む -->
  <%= javascript_pack_tag 'application' %> <!-- JavaScriptを読み込む -->

</head>
<body>
  <%= render 'layouts/header_admin' %> <!-- ヘッダー部分 -->
  
  <% if flash[:notice] %>
    <div class="alert alert-success text-center" role="alert">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger text-center" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <main>
  <body class="<%= admin_signed_in? ? 'logged-in' : 'logged-out' %>">
    <%= yield %> <!-- コンテンツ部分 -->
  </body>
  </main>

  <!-- フッター部分 -->
  <footer class="text-white py-4" style="background-color: #001f3d;"> <!-- ネイビーブルーに変更 -->
    <div class="container text-center">
      <p>© 2025 item_checker. All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>
