<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>イベント管理アプリ</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  
  <style>
  /* 共通スタイル */
  body {
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
    padding-bottom: 60px;
  }

  footer {
    margin-top: auto;
    background-color: #001f3d; /* ネイビーブルーに変更 */
    color: white;
    text-align: center;
    padding: 20px 0;
  }
</style>

</head>
<body>
  <!-- ヘッダー -->
  <%= render 'layouts/header' %>
  
  <main>
    <%= yield %>
    <%= flash[:notice] %>
  </main>

  <!-- フッター -->
  <footer>
    <div class="container">
      <p>© 2024 イベント管理アプリ</p>
    </div>
  </footer>
</body>
</html>
